<div id="container">
    <a class="menu" ng-href="/">Main Menu</a>
    <br /><br />
    <form name="form" class="css-form" novalidate>
         <button class="chromecastButton" ng-click="connectChromecast()">Send to Chromecast</button>
         <br /><br />
        Remote control other device? <input class="checkbox" type="checkbox" ng-model="settings.playRemote" required />
        <div ng-show="settings.playRemote">
            <div ng-if="noHosts">
                No remote devices to control
            </div>
            <button class="chromecastButton" ng-repeat="(host, friendlyName) in hosts" ng-click="setHost(host)" ng-bind="friendlyName"></button>
        </div>
    </form>
</div>