html, body, #wrapper {
    height: 100%;
    width: 100%;
    background: #000 url('https://unsplash.imgix.net/14/unsplash_524000a90aaad_1.JPG?q=75&fm=jpg&s=9305563c74d318288ada6e064cd3f176') no-repeat center center fixed;
    background-size: cover;
    color: #DDD;
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-shadow: 2px 1px #000;
}

video {
    background: #000;
}

#container {
    padding: 20px 40px;
}

#overlay {
    background: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list li {
    margin: 2px 0;
    padding: 0 20px;
}
.list li:hover {
    background: rgba(0,0,0,0.2);
}
.list li a {
    color: #DDD;
    display: block;
    text-decoration: none;
    text-shadow: 2px 1px #000;
}
.list li a:hover {
    color: #FFF;
}

.menu {
    color: #DDD;
    text-decoration: none;
    text-shadow: 2px 1px #000;
}
.menu:hover {
    color: #FFF;
    text-decoration: underline;
}

.chromecastButton {
    background: rgba(221,221,221,0.5);
    border: 1px solid #000;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(0,0,0, 0.3);
    -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(0,0,0, 0.3);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(0,0,0, 0.3);
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 0.375em 0.75em;
    position: relative;
    text-align: center;
}
.chromecastButton:hover {
    background: rgba(221,221,221,0.7)
}
.chromecastButton:active {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
    top: 1px;
}
.chromecastButton:focus {
    outline: 0;
}

.remoteButton {
    background-color: transparent;
    border: none;
    border: 5px solid #DDD;
    color: #DDD;
    margin: 15px;
    padding: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.remoteButton:hover {
    border-color: rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.2);
    cursor: pointer;
}
.remoteButton:active {
    border-color: #FFF;
    color: #FFF;
    cursor: pointer;
}
.remoteButton:focus {
    outline: 0;
}

#wrapper {
    height: 100%;
    display: table;
}
.remoteContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
.remaining {
    display: table-row; 
}
.fixed {
    height: 100px;
    display: table-row;
}

.checkbox {
    width: 30px;
    height: 30px;
}